<h1>タイトル: <%= @book.title %></h1>
<dl class="dl-horizontal">
  <dt>著者</dt><dd><%= @book.authors %><dd>
  <dt>発行年</dt><dd><%= @book.publish_year %><dd>
  <dt>コメント</dt><dd><%= @book.comment %><dd>
</dl>
